In [77]:
import pandas as pd
import numpy as np
import os
import re

In [78]:
directory = "air_data"

#loop through data folder and open each file as csv. take name from disease code
df_list = []
title_list = []
for filename in os.listdir(directory):
    f = os.path.join(directory, filename)

    # checking if it is a file
    if os.path.isfile(f):
        title = filename.split('.')[0]
        title_list.append(title)
        if filename.split('.')[1] == "csv":
            title = pd.read_csv(f)
           
        elif filename.split('.')[1] == "xlsx":
            df = pd.read_excel(f)
        df_list.append(df)
        #print(title[:4])

/Users/seohyeonlee/p-ollution/.venv/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/seohyeonlee/p-ollution/.venv/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [79]:
print(title_list)

['no2', 'sox', 'ozone', 'co', 'pm10']

In [91]:
df_list[0]

,Classification(1),Classification(2),2017.01,2017.02,2017.03,2017.04,2017.05,2017.06,2017.07,2017.08,...,2022.03,2022.04,2022.05,2022.06,2022.07,2022.08,2022.09,2022.10,2022.11,2022.12
0,Total,Sub Summary,0.027,0.024,0.027,0.04,0.043,0.043,0.031,0.027,...,0.035,0.044,0.051,0.039,0.035,0.03,0.031,0.027,0.023,0.02
1,Seoul,Seoul,0.035,0.018,0.038,0.035,0.039,0.041,0.03,0.024,...,0.028,0.043,0.049,0.036,0.037,0.03,0.031,0.023,0.018,0.015
2,Busan,Busan,0.024,0.031,0.022,0.042,0.044,0.041,0.028,0.027,...,0.037,0.041,0.05,0.034,0.031,0.03,0.034,0.032,0.027,0.022
3,Daegu,Daegu,0.028,0.024,0.024,0.04,0.044,0.047,0.031,0.028,...,0.036,0.044,0.055,0.041,0.035,0.028,0.029,0.027,0.02,0.018
4,Incheon,Incheon,0.027,0.023,0.03,0.035,0.038,0.037,0.028,0.025,...,0.03,0.041,0.048,0.036,0.038,0.032,0.035,0.027,0.022,0.019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,Gyeongnam,Hapcheon,-,-,-,-,-,-,-,-,...,0.029,0.031,0.051,0.041,0.034,0.024,0.028,0.027,0.025,0.022
168,Gyeongnam,Average for provinces,0.023,0.03,0.023,0.046,0.049,0.048,0.034,0.033,...,0.038,0.043,0.053,0.038,0.036,0.03,0.032,0.031,0.027,0.023
169,Jeju Special Self-governing Province,Jeju,0.013,0.041,0.016,0.056,0.056,0.044,0.03,0.042*,...,0.046,0.045,0.05,0.036,0.036,0.031,0.038,0.041,0.039,0.036
170,Jeju Special Self-governing Province,Seogwipo,0.012,0.037,0.011,0.052,0.051,0.044,0.02,0.017,...,0.051,0.052,0.055,0.04,0.037,0.033,0.042,0.044,0.044,0.037
171,Jeju Special Self-governing Province,Average for provinces,0.013,0.04,0.014,0.055,0.054,0.044,0.026,0.030*,...,0.049,0.048,0.052,0.038,0.036,0.032,0.04,0.042,0.042,0.037

In [92]:
df_list[0]['Classification(1)']= df_list[0]['Classification(1)'].ffill()

In [120]:
filtered_df = df_list[0][(df['Classification(1)'] == df['Classification(2)']) | df['Classification(2)'].str.contains('Average')]
filtered_df.drop(["Classification(2)"], axis = 1, inplace=True)
filtered_df.rename(columns = {"Classification(1)":"region"}, inplace = True)

filtered_df['region'] = filtered_df['region'].map(lambda x: x.replace("Sejong-si", "Sejong").replace("Jeju Special Self-governing Province", "Jeju"))

/var/folders/lq/dt070ydd3h13pqgrgy6rpv300000gn/T/ipykernel_81262/2282462775.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df.drop(["Classification(2)"], axis = 1, inplace=True)
/var/folders/lq/dt070ydd3h13pqgrgy6rpv300000gn/T/ipykernel_81262/2282462775.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df.rename(columns = {"Classification(1)":"region"}, inplace = True)
/var/folders/lq/dt070ydd3h13pqgrgy6rpv300000gn/T/ipykernel_81262/2282462775.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['region'] = filtered_df['region'].map(lambda x: x.replace("Sejong-si", "Sejong").replace("Jeju Special Self-governing Province", "Jeju"))

In [128]:
final.columns

Index(['Seoul', 'Busan', 'Daegu', 'Incheon', 'Gwangju', 'Daejeon', 'Ulsan',
       'Sejong', 'Gyeonggi', 'Gangwon', 'Chungbuk', 'Chungnam', 'Jeonbuk',
       'Jeonnam', 'Gyeongbuk', 'Gyeongnam', 'Jeju'],
      dtype='object', name='region')

In [125]:
#filtered_df = filtered_df.set_index('region')
final = filtered_df.transpose()
final.to_csv('data/no2.csv')